@page "/movies"
@using Microsoft.AspNetCore.Components.QuickGrid
@inject BlazorScaffoldingContext DB
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="movies/create">Create New</a>
</p>

<QuickGrid Class="table" Items="DB.Movie" Pagination="pagination">
    <PropertyColumn Property="movie => movie.Title" />
    <PropertyColumn Property="movie => movie.ReleaseDate" Title="Release date"/>
    <PropertyColumn Property="movie => movie.Genre" />
    <PropertyColumn Property="movie => movie.Price" />
    <TemplateColumn Context="movie">
        <a href="@($"movies/edit/{movie.Id}")">Edit</a> |
        <a href="@($"movies/details/{movie.Id}")">Details</a> |
        <a href="@($"movies/delete/{movie.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

<Paginator State="pagination" />

@code {
    PaginationState pagination = new() { ItemsPerPage = 10 };
}